<div class="container">
    <div class="row">
        <div class="col-6">
            <CardComponent @ref="Card1" BackgroundColor="bg-dark" ForegroundColor="text-white" Width="18rem">
                <Content>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </Content>
            </CardComponent>
        </div>
        <div class="col-6">
            <CardComponent @ref="Card2" BackgroundColor="bg-light" ForegroundColor="text-black" Width="18rem">
                <Content>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </Content>
            </CardComponent>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger" @onclick="OnHideShowCardsEventHandler">@HideToggleButtonText</button>
        </div>
    </div>
</div>